body {
    background-color: #F4F4F4;
}

input {
    text-align: right;
}

.wrap {
    padding: 0.2rem;
}

.fullcard {
    .tip {
        color: #FF6600;
        text-align: center;
        font-size: 0.26rem;
        padding: 0.5rem 0 0.3rem;
    }
}
